<?php

require_once 'authentication.php';

?>
<!DOCTYPE HTML>
<html>

<head>
    <title>Medical Record System for Balaoan District Hospital</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/core.css">
    <link rel="stylesheet" href="assets/css/components.css">
    <link rel="stylesheet" href="assets/icons/fontawesome/styles.min.css">
    <link rel="stylesheet" href="lib/css/chartist.min.css">

    <link rel="stylesheet" href="assets/css/bootbox-fix.css">
	
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/tether.min.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="lib/js/chartist.min.js"></script>
    <script type="text/javascript" src="assets/js/app.min.js"></script>
	
	<!-- JS Libraries -->
    <script type="text/javascript" src="assets/js/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="assets/js/growl/jquery.bootstrap-growl.min.js"></script>
	
	<!-- angularjs -->
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular/angular-route.min.js"></script>
    <script type="text/javascript" src="angular/ui-bootstrap-tpls-3.0.2.min.js"></script>
	
	<!-- angularjs modules -->
    <script type="text/javascript" src="modules/account.js"></script>	
    <script type="text/javascript" src="modules/bootstrap-modal.js"></script>	
    <script type="text/javascript" src="modules/growl.js"></script>	
    <script type="text/javascript" src="modules/validate.js"></script>
    <script type="text/javascript" src="modules/add_staff.js"></script>
    <script type="text/javascript" src="modules/module-access.js"></script>
	
	<!-- controllers -->
    <script type="text/javascript" src="controllers/add_staff.js"></script>
</head>

<body ng-app="staff" ng-controller="staffCtrl" account-profile>

    <!-- NAVBAR -->
    <nav class="navbar navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav">
            <span>
                <i class="fa fa-code-fork"></i>
            </span>
        </button>

        <button class="navbar-toggler navbar-toggler-left" type="button" id="toggle-sidebar">
            <span>
               <i class="fa fa-align-justify"></i>
            </span>
        </button>

        <a class="navbar-brand logo" href="#">
            <img src="assets/img/navlogo.png" height="40x" width="90x">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <button class="sidebar-toggle btn btn-flat" id="toggle-sidebar-desktop">
                <span>
                    <i class="fa fa-align-justify"></i>
                </span>
            </button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-has-after" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="{{profile.picture}}" alt="" class="user-img"> {{profile.user}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" drop-down></div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /NAVBAR -->

    <div class="page-container">
        <div class="page-content">
            <!-- inject:SIDEBAR -->

            <div id="sidebar-main" class="sidebar sidebar-default">
    <div class="sidebar-content">
        <ul class="navigation">

			<li ng-show="profile.pages_access[0].value">
                <a href="index.html"><i class="app-menu__icon fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>

            <li ng-show="profile.pages_access[1].value">
			   <a href="users.html"><i class="fa fa-users"></i> <span>Accounts</span></a>
            </li>
			
			<li ng-show="profile.pages_access[2].value">
				<a href="all_doctors.html"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
            </li>
			
			<li ng-show="profile.pages_access[3].value">
				<a href="all_staffs.html"><i class="fa fa-user-secret"></i> <span>Staffs</span></a>
            </li>

			<li ng-show="profile.pages_access[4].value">
                <a href="index.html"><i class="fa fa-medkit"></i> <span>Medicals Records</span></a>
                <ul>
					<li><a href="all_patients.html"><i class="fa fa-drivers-license-o"></i> Patient List</a></li>
                    <li><a href="opd.html"><i class="fa fa-edit"></i> OPD</a></li>
                    <li><a href="ipd.html"><i class="fa fa-edit"></i> IPD</a></li>
					<!-- <li><a href="add_patient.html"><i class="fa fa-user-plus"></i> Add Patient</a></li> -->
                </ul>
            </li>
			
			<li ng-show="profile.pages_access[5].value">
                <a href="index.html"><i class="fa fa-folder-open"></i> <span>Reports</span></a>
                <ul>
                    <li><a href="reports.html"><i class="fa fa-print"></i> Print Reports</a></li>
                </ul>
            </li>
			
			<li ng-show="profile.pages_access[6].value">
                <a href="index.html"><i class="fa fa-cogs"></i> <span>Maintenance</span></a>
                <ul>
                    <li><a href="backup-restore.html"><i class="fa fa-cogs"></i> Backup and Restore</a></li>
					<li><a href="manage-user.html"><i class="fa fa-user"></i> Manage Users</a></li>
				</ul>
            </li>
			
			 <li ng-show="profile.pages_access[7].value">
                <a href="help.html"><i class="fa fa-info-circle"></i> <span>Help</span></a>
            </li>	

        </ul>
    </div>
</div>

            <!-- inject:/SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="content-wrapper">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-title"><i class="fa fa-user-secret"></i> {{views.option}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
							<div class="card">
								<div class="card-block">
								<!-- start here -->
								
		<!-- <button type="button" class="btn btn-primary float-right btn-rounded" ng-click="app.add(this)" ng-show="controls.btns.add">Add</button> -->
		<button type="button" class="btn btn-secondary float-right  btn-rounded" ng-click="app.edit(this)" ng-show="controls.btns.edit" ng-show="controls.show.edit">Edit</button>		
		<div class="clearfix"></div>

		<hr>

		<form name="form.staff" novalidate autocomplete="off">
			<legend class="text-bold">Staffs Information</legend>
			<div class="row">
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.first_name.$touched && form.staff.first_name.$invalid}">
							<label class="control-label">First Name</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-user-circle"></i>
                                    </span>
							<input type="text" class="form-control" name="first_name" ng-model="staff.first_name" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.first_name.$touched && form.staff.first_name.$invalid">First name is required</div>
						</div>						
					</fieldset>
				</div>
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.middle_name.$touched && form.staff.middle_name.$invalid}">
							<label class="control-label">Middle Name</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-user-circle"></i>
                                    </span>
							<input type="text" class="form-control" name="middle_name" ng-model="staff.middle_name" ng-disabled="controls.btns.ok">
							</div>
							
						</div>						
					</fieldset>
				</div>
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.last_name.$touched && form.staff.last_name.$invalid}">
							<label class="control-label">Last Name</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-user-circle"></i>
                                    </span>
							<input type="text" class="form-control" name="last_name" ng-model="staff.last_name" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.last_name.$touched && form.staff.last_name.$invalid">Last name is required</div>
						</div>						
					</fieldset>
				</div>				
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.date_of_birth.$touched && form.staff.date_of_birth.$invalid}">
							<label class="control-label">Birthday</label>
							<input type="date" class="form-control" name="date_of_birth" ng-model="staff.date_of_birth" ng-change="app.birthday(this)" ng-disabled="controls.btns.ok" required>
							<div class="form-control-feedback" ng-show="form.staff.date_of_birth.$touched && form.staff.date_of_birth.$invalid">Birthday name is required</div>
						</div>							
					</fieldset>
				</div>
				
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.age.$touched && form.staff.age.$invalid}">
							<label class="control-label">Age</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-id-badge"></i>
                                    </span>
							<input type="text" restrict-to="[0-9]" class="form-control" name="age" ng-model="staff.age" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.age.$touched && form.staff.age.$invalid">Age is required</div>
						</div>							
					</fieldset>
				</div>		

				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.birth_place.$touched && form.staff.birth_place.$invalid}">
							<label class="control-label">Birth Place</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-id-card"></i>
                                    </span>
							<input type="text" class="form-control" name="birth_place" ng-model="staff.birth_place" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.birth_place.$touched && form.staff.birth_place.$invalid">Birth Place is required</div>
						</div>							
					</fieldset>
				</div>		
			</div>
			
			
			<div class="row">
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.gender.$touched && form.staff.gender.$invalid}">
							<label class="control-label">Gender</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-venus-mars"></i>
                                    </span>
							<select class="form-control" name="gender" ng-model="staff.gender" ng-disabled="controls.btns.ok" required>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.gender.$touched && form.staff.gender.$invalid">Gender is required</div>
						</div>						
					</fieldset>
				</div>		
				
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.mobile_number.$touched && form.staff.mobile_number.$invalid}">
							<label class="control-label">Mobile Number</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-fax"></i>
                                    </span>
							<input type="text" restrict-to="[0-9]" class="form-control" name="mobile_number" ng-model="staff.mobile_number" ng-disabled="controls.btns.ok">
							</div>
							
						</div>							
					</fieldset>
				</div>	
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.civil_status.$touched && form.staff.civil_status.$invalid}">
							<label class="control-label">Civil Status</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-wechat"></i>
                                    </span>
							<select class="form-control" name="civil_status" ng-model="staff.civil_status" ng-disabled="controls.btns.ok" required>
								<option value="Single">Single</option>
								<option value="Married">Married</option>
								<option value="Widowed">Widowed</option>
								<option value="Separated">Separated</option>
							</select>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.civil_status.$touched && form.staff.civil_status.$invalid">Civil Status is required</div>
						</div>						
					</fieldset>
				</div>	
			</div>
			
			
			<div class="row">
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.province.$touched && form.staff.province.$invalid}">
							<label class="control-label">Province</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-address-book-o"></i>
                                    </span>
							<input type="text" class="form-control" name="province" uib-typeahead="p.province_description for p in provinces | filter:{province_description:$viewValue}" typeahead-min-length="1" typeahead-on-select="app.provinceSelect($item, this)" ng-model="staff.province" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.province.$touched && form.staff.province.$invalid">Province is required</div>
						</div>							
					</fieldset>
				</div>
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.city.$touched && form.staff.city.$invalid}">
							<label class="control-label">City/Municipality</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-address-book-o"></i>
                                    </span>
							<input type="text" class="form-control" name="city" uib-typeahead="m.municipality_description for m in municipalities | filter:{municipality_description:$viewValue}" typeahead-min-length="1" typeahead-on-select="app.municipalitySelect($item, this)" ng-model="staff.city" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.city.$touched && form.staff.city.$invalid">City/Municipality is required</div>
						</div>							
					</fieldset>
				</div>
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.barangay.$touched && form.staff.barangay.$invalid}">
							<label class="control-label">Barangay</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-address-book-o"></i>
                                    </span>
							<input type="text" class="form-control" name="barangay" uib-typeahead="b.barangay_description for b in barangays | filter:{barangay_description:$viewValue}" typeahead-min-length="1" typeahead-on-select="app.barangaySelect($item, this)" ng-model="staff.barangay" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.barangay.$touched && form.staff.barangay.$invalid">Barangay is required</div>
						</div>							
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.nationality.$touched && form.staff.nationality.$invalid}">
							<label class="control-label">Nationality</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-flag"></i>
                                    </span>
							<input type="text" class="form-control" name="nationality" ng-model="staff.nationality" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.nationality.$touched && form.staff.nationality.$invalid">Nationality is required</div>
						</div>							
					</fieldset>
				</div>			
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.religion.$touched && form.staff.religion.$invalid}">
							<label class="control-label">Religion</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-handshake-o"></i>
                                    </span>
							<input type="text" class="form-control" name="religion" ng-model="staff.religion" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.religion.$touched && form.staff.religion.$invalid">Religion is required</div>
						</div>							
					</fieldset>
				</div>	
				
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.education.$touched && form.staff.education.$invalid}">
							<label class="control-label">Education</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-graduation-cap"></i>
                                    </span>
							<input type="text" class="form-control" name="education" ng-model="staff.education" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.education.$touched && form.staff.education.$invalid">Education is required</div>
						</div>							
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<fieldset class="content-group margin-top-10">
						<div class="form-group" ng-class="{'has-danger': form.staff.specialization.$touched && form.staff.specialization.$invalid}">
							<label class="control-label">Specialization</label>
							<div class="input-group">
                                    <span class="input-group-addon">
										<i class="fa fa-user-md"></i>
                                    </span>
							<input type="text" class="form-control" name="specialization" ng-model="staff.specialization" ng-disabled="controls.btns.ok" required>
							</div>
							<div class="form-control-feedback" ng-show="form.staff.specialization.$touched && form.staff.specialization.$invalid">Specialization is required</div>
						</div>							
					</fieldset>
				</div>				
			</div>
		</form>

		<hr>
		<div class="pull-right">
			<button type="button" class="btn btn-secondary" ng-click="app.save(this)" ng-disabled="controls.btns.ok">{{controls.label.ok}}</button>
			<button type="button" class="btn btn-primary" ng-click="app.cancel(this)" ng-disabled="controls.btns.cancel">{{controls.label.cancel}}</button>
		</div>		

								<!-- start here -->
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
            <!-- /PAGE CONTENT -->
        </div>
    </div>
</body>

</html>