<?php

require_once 'authentication.php';

?>
<!DOCTYPE HTML>
<html>

<head>
    <title>Medical Record System for Balaoan District Hospital</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/core.css">
    <link rel="stylesheet" href="assets/css/components.css">
    <link rel="stylesheet" href="assets/icons/fontawesome/styles.min.css">
    <link rel="stylesheet" href="lib/css/chartist.min.css">

    <link rel="stylesheet" href="assets/css/bootbox-fix.css">
	
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/tether.min.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="lib/js/chartist.min.js"></script>
    <script type="text/javascript" src="assets/js/app.min.js"></script>
	
	<!-- JS Libraries -->
    <script type="text/javascript" src="assets/js/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="assets/js/growl/jquery.bootstrap-growl.min.js"></script>
	
	<!-- angularjs -->
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular/angular-route.min.js"></script>
    <script type="text/javascript" src="angular/ui-bootstrap-tpls-3.0.2.min.js"></script>
	
	<!-- angularjs modules -->
    <script type="text/javascript" src="modules/account.js"></script>	
    <script type="text/javascript" src="modules/bootstrap-modal.js"></script>	
    <script type="text/javascript" src="modules/module-access.js"></script>	
    <script type="text/javascript" src="modules/growl.js"></script>	
    <script type="text/javascript" src="modules/validate.js"></script>
	
	<!-- PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/js/pages_datatables.min.js"></script>
    <!-- /PAGE LEVEL SCRIPTS -->
	
	<!-- controllers -->
    <script type="text/javascript" src="controllers/users.js"></script>
</head>

<body ng-app="users" ng-controller="usersCtrl" account-profile>

    <!-- NAVBAR -->
    <nav class="navbar navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav">
            <span>
                <i class="fa fa-code-fork"></i>
            </span>
        </button>

        <button class="navbar-toggler navbar-toggler-left" type="button" id="toggle-sidebar">
            <span>
               <i class="fa fa-align-justify"></i>
            </span>
        </button>

        <a class="navbar-brand logo" href="#">
            <img src="assets/img/navlogo.png" height="40x" width="90x">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <button class="sidebar-toggle btn btn-flat" id="toggle-sidebar-desktop">
                <span>
                    <i class="fa fa-align-justify"></i>
                </span>
            </button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-has-after" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="{{profile.picture}}" alt="" class="user-img"> {{profile.user}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" drop-down></div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /NAVBAR -->

    <div class="page-container">
        <div class="page-content">
            <!-- inject:SIDEBAR -->

            <div id="sidebar-main" class="sidebar sidebar-default">
    <div class="sidebar-content">
        <ul class="navigation">

           <li ng-show="profile.pages_access[0].value">
                <a href="index.html"><i class="app-menu__icon fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>

            <li ng-show="profile.pages_access[1].value">
			   <a href="users.html"><i class="fa fa-users"></i> <span>Accounts</span></a>
            </li>
			
			<li ng-show="profile.pages_access[2].value">
				<a href="all_doctors.html"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
            </li>
			
			<li ng-show="profile.pages_access[3].value">
				<a href="all_staffs.html"><i class="fa fa-user-secret"></i> <span>Staffs</span></a>
            </li>

			<li ng-show="profile.pages_access[4].value">
                <a href="index.html"><i class="fa fa-medkit"></i> <span>Medicals Records</span></a>
                <ul>
					<li><a href="all_patients.html"><i class="fa fa-drivers-license-o"></i> Patient List</a></li>
                    <li><a href="opd.html"><i class="fa fa-edit"></i> OPD</a></li>
                    <li><a href="ipd.html"><i class="fa fa-edit"></i> IPD</a></li>
					<!-- <li><a href="add_patient.html"><i class="fa fa-user-plus"></i> Add Patient</a></li> -->
                </ul>
            </li>
			
			<li ng-show="profile.pages_access[5].value">
                <a href="index.html"><i class="fa fa-folder-open"></i> <span>Reports</span></a>
                <ul>
                    <li><a href="reports.html"><i class="fa fa-print"></i> Print Reports</a></li>
                </ul>
            </li>
			
			<li ng-show="profile.pages_access[6].value">
                <a href="index.html"><i class="fa fa-cogs"></i> <span>Maintenance</span></a>
                <ul>
                    <li><a href="backup-restore.html"><i class="fa fa-cogs"></i> Backup and Restore</a></li>
                    <li><a href="manage-user.html"><i class="fa fa-user"></i> Manage Users</a></li>
                </ul>
            </li>
			
			 <li ng-show="profile.pages_access[7].value">
                <a href="help.html"><i class="fa fa-info-circle"></i> <span>Help</span></a>
            </li>	

        </ul>
    </div>
</div>

            <!-- inject:/SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="content-wrapper">
                <div class="content">
                   <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-title"><i class="fa fa-users"></i> Manage Users</h3>
                        </div>
                    </div> 				
					<div class="row">
                        <div class="col-md-12">
						    <div class="card">
								<div class="card-block">
									<h5 class="text-bold card-title">Users List</h5>
									<div class="row">
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
												<input type="text" class="form-control" placeholder="Search" ng-model="search" aria-describedby="sizing-addon2">
											</div>
										</div>
										<div class="col-md-8">
											<button type="button" class="btn btn-primary float-right" ng-click="addUser()" data-toggle="tooltip" data-placement="top" title="Add User"><i class="fa fa-plus"></i></button>											
											<div class="clearfix"></div>
										</div>
									</div>
									<div style="margin-top: 25px;">
									  <table class="table">										
										<thead>
										  <tr>
											<th>#</th>
											<th>Name</th>
											<th>Username</th>
											<th>Group</th>
											<th>Actions</th>
										  </tr>
										</thead>
										<tbody>
										  <tr ng-repeat="u in users | filter: search">
											<td>{{u.id}}</td>
											<td>{{u.last_name}} , {{u.first_name}}</td>
											<td>{{u.username}}</td>
											<td>{{u.group_description}}</td>
											<td>
												<button type="button" class="btn btn-primary" ng-click="view(u)" data-toggle="tooltip" data-placement="top" title="View User Info"><i class="fa fa-search" ></i></button>
												<button type="button" class="btn btn-danger" ng-click="delete(u)" data-toggle="tooltip" data-placement="top" title="Delete User Info"><i class="fa fa-times"></i></button>
											</td>
										  </tr>
										</tbody>
									  </table>
									</div>                           
								</div>                           
							</div>                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- /PAGE CONTENT -->
        </div>
    </div>
</body>

</html>