<div class="table-responsive" style="margin-top: 25px;">
  <table class="table">										
	<thead>
	  <tr>
		<th>Date</th>
		<th>IPD No</th>
		<th>Department</th>
		<th>Physician</th>
		<th>Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="patient in patient.records">
		<td>{{patient.date}}</td>
		<td>{{patient.ipd_no}}</td>
		<td>{{patient.department}}</td>
		<td>{{patient.physician}}</td>
		<td>
			<button type="button" class="btn btn-primary" ng-click="record.medicalRecord(this,patient)"><i class="fa fa-search"></i></button>
			<button type="button" class="btn btn-info" ng-click="print(patient)"><i class="fa fa-print"></i></button>
			<button type="button" class="btn btn-danger" ng-click="record.delete(this,patient)"><i class="fa fa-times"></i></button>
		</td>
	  </tr>
	</tbody>
  </table>
</div>