<style>
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 25px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #53a5d4;
}
input:disabled + .slider {
  background-color: #b1afaf;
}
input:focus + .slider {
  box-shadow: 0 0 1px #53a5d4;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
</style>
<!-- PAGE CONTENT -->
<div class="card-block">
		<h5 class="text-bold card-title"><i class="fa fa-user"></i> User Form<button class="btn btn-default pull-right" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button></h5>
	<hr>
	<form name="formHolder.group" id="formHolder.group" novalidate autocomplete="off">	
<div class="row">
		<div class="col-md-4">
			<fieldset class="content-group margin-top-10">
				<div class="form-group" ng-class="{'has-danger': formHolder.group.group_name.$touched && formHolder.group.group_name.$invalid}">
					<label class="control-label">Group Name</label>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-user"></i>
						</span>
					<input type="text" class="form-control" name="group_name" ng-model="group.group_name" ng-disabled="controls.ok.btn" required>
					</div>
					<div class="form-control-feedback" ng-show="formHolder.group.group_name.$touched && formHolder.group.group_name.$invalid">Group Name is required</div>
				</div>				
			</fieldset>
		</div>
		<div class="col-md-4">
			<fieldset class="content-group margin-top-10">
				<div class="form-group" ng-class="{'has-danger': formHolder.group.group_description.$touched && formHolder.group.group_description.$invalid}">
					<label class="control-label">Group Description</label>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-user"></i>
						</span>
					<input type="text" class="form-control" name="group_description" ng-model="group.group_description" ng-disabled="controls.ok.btn" required>
					</div>
					<div class="form-control-feedback" ng-show="formHolder.group.group_description.$touched && formHolder.group.group_description.$invalid">Group Description is required</div>
				</div>				
			</fieldset>
		</div>
		</div>
		<div style="border-style: solid; border-width:0.5px;" class="card-block col-lg-12" ng-repeat="p in privileges">
			<h6 class="text-bold card-title"><i class="fa fa-edit"></i> {{p.description}}</h6>
			<hr>
			<div class="row">		
				<div class="col-lg-3" ng-repeat="pp in p.privileges">
					  <div class="checkbox">
						<label class="switch">
						  <input type="checkbox" class="flat" ng-checked="pp.value" ng-model="pp.value" ng-disabled="controls.ok.btn">
						  <span class="slider round"></span>
						</label>
						<span>{{pp.description}}</span>
					  </div>
				</div>
			</div>
		</div>
		
		
<!-- PAGE CONTENT -->
	
								

</form>
<hr>
	
<div class="row">
	<button type="button" class="btn btn-secondary" ng-click="form.save(this)" ng-disabled="controls.btns.ok">Save</button>
	<button type="button" class="btn btn-primary" ng-click="form.list(this)" ng-disabled="controls.btns.cancel">Cancel</button>	
</div>