<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-primary float-right" ng-click="record.medicalRecord(this,null)" ng-disabled="controls.btns.addRecord"><i class="fa fa-plus"></i></button>		
		<div class="clearfix"></div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6">
		<label class="control-label">Hospital No:</label> <h5><strong>{{patient.hospital_no}}</strong></h5>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<label class="control-label">Full Name:</label> <h5><strong>{{patient.fullname}}</strong></h5>
	</div>
	<div class="col-md-6">
		<label class="control-label">Civil Status:</label> <h5><strong>{{patient.civil_status}}</strong></h5>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<label class="control-label">Gender:</label> <h5><strong>{{patient.gender}}</strong></h5>
	</div>
	<div class="col-md-6">
		<label class="control-label">Age:</label> <h5><strong>{{patient.age}}</strong></h5>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<label class="control-label">Address:</label> <h5><strong>{{patient.address}}</strong></h5>
	</div>
</div>
<div class="table-responsive" style="margin-top: 25px;">
  <table class="table">										
	<thead>
	  <tr>
		<th>Date</th>
		<th>IPD No</th>
		<th>Department</th>
		<th>Room Type</th>
		<th>Room No</th>
		<th>Bed No</th>
		<th>Physician</th>
		<th>Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="patient in patient.records">
		<td>{{patient.date}}</td>
		<td>{{patient.ipd_no}}</td>
		<td>{{patient.department}}</td>
		<td>{{patient.room}}</td>
		<td>{{patient.room_no}}</td>
		<td>{{patient.bed_no}}</td>
		<td>{{patient.physician}}</td>
		<td>
			<button type="button" class="btn btn-primary" ng-click="record.medicalRecord(this,patient)"><i class="fa fa-search"></i></button>
			<!-- <button type="button" class="btn btn-info" ng-click="print(p)"><i class="fa fa-print"></i></button> -->
			<button type="button" class="btn btn-danger" ng-click="record.delete(this,patient)"><i class="fa fa-times"></i></button>
		</td>
	  </tr>
	</tbody>
  </table>
</div>