<!-- PAGE CONTENT -->
<div class="card-block">
		<h5 class="text-bold card-title"><i class="fa fa-pencil"></i> Room Form<button class="btn btn-default pull-right" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button></h5>
	<hr>
	<form name="formHolder.room" id="formHolder.room" novalidate autocomplete="off">	
<div class="row">
		<div class="col-md-4">
			<fieldset class="content-group margin-top-10">
				<div class="form-group" ng-class="{'has-danger': formHolder.room.room_type.$touched && formHolder.room.room_type.$invalid}">
					<label class="control-label">Room Type</label>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-user"></i>
						</span>
					<input type="text" class="form-control" name="room_type" ng-model="room.room_type" ng-disabled="controls.ok.btn" required>
					</div>
					<div class="form-control-feedback" ng-show="formHolder.room.room_type.$touched && formHolder.room.room_type.$invalid">Room Type is required</div>
				</div>				
			</fieldset>
		</div>
		</div>
</form>
<hr>
	
<div class="row">
	<button type="button" class="btn btn-secondary" ng-click="form.save(this)" ng-disabled="controls.btns.ok">Save</button>
	<button type="button" class="btn btn-primary" ng-click="form.list(this)" ng-disabled="controls.btns.cancel">Cancel</button>	
</div>